* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

.schedule {
  width: 80%;
  margin: 50px auto;
  border-radius: 2px;
  box-shadow: gray 0px 0px 5px;
}

.schedule-header {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 20px 0px;
}

.schedule-header-text {
  flex: 1;
}

.schedule-header-text h3 {
  padding-bottom: 20px;
}

.schedule-header img {
  width: 150px;
}

.schedule-list {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.schedule-list-card {
  padding: 20px 0;
}

.schedule-list button {
  position: relative;
  background: #fff;
  border: none;
  border-top: 1px solid black;
  padding: 40px 30px;
  text-align: left;
  cursor: pointer;
}

.schedule-list button:hover {
  background: rgba(77, 80, 85, 0.1);
  outline: none;
}

.schedule-list h1 {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.schedule-list .fa-caret-right {
  position: absolute;
  top: 20%;
  right: 0;
}

.schedule-list .fa-circle {
  font-size: 26px;
  padding-right: 7px;
}

@media only screen and (max-width: 700px) {
  .schedule-header {
    display: grid;
    gap: 20px;
  }
  .schedule-list {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 0px;
  }
  .schedule-list button {
    width: 100%;
    padding: 20px 10px;
  }
}
